body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url('./bg.jpg') no-repeat center ;
  background-size: cover;
  height: 100vh;
}

.main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.text {
  padding: 5px 1px;
  border: 0;
  border-bottom: 1px solid #e3e3e3;
  font-size: 24px;
  background-color: transparent;
  color: #00a8b5;
  outline: none;
  width: 40%;
}

.btn {
  padding: 5px 40px;
  font-size: 20px;
  background-color: #fff;
  margin: 0 10px;
  outline: none;
  border-radius: 25px;
}

::placeholder {
  color: #00a8b5;
  opacity: 0.5;
}

.btn:hover {
  background-color: #00a8b5;
  color: #fff;
}

.listing {
  width: 50%;
  margin: 5% auto;
}

.list {
  list-style: none;
  padding: 10px;
  margin: 5px auto;
  color: #00a8b5;
  line-height: 27px;
  text-align: left;
  font-weight: 100;
  font-size: 24px;
}

.header {
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0;
  }
  .text {
    width: 100%;
    margin: 10px 0;
  }
  .btn {
    margin-top: 20px;
  }
}